

@font-face {
    font-family: expressway-bold;
    src: url(./assets/fonts/Expressway\ Bold.ttf);
}

@font-face {
    font-family: expressway;
    src: url(./assets/fonts/expressway\ rg.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: expressway;
}

body {
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }


.form-container, .thank-you{
    background-color: #222832;
    width: 30%;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 2.5%;
    background: rgb(20,21,24);
    background: linear-gradient(0deg, rgba(20,21,24,1) 0%, rgba(36,41,53,1) 100%);
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.thank-you img {
    display: block;
    margin: 0 auto 2rem;
}

.thank-you p.gray{
    color: hsl(25,97%,53%);
    background-color: hsl(213,20%,22%);
    border-radius: 30px;
    padding: 0 0.3rem;
}

.thank-you h2 {
    color: #fff;
    margin-bottom: 1rem;
}

.thank-you p {
    color: hsl(217,12%,63%);
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
}

button {
    font-family: inherit;
}

.form-container ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.form-container ul li button {
    color: #6c7178;
    background-color: #262E38;
    font-size: 1.25rem;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    cursor: pointer;
}

.form-container h1{
    margin-top: 9%;
    margin-bottom: 1rem;
    color: white;
    letter-spacing: 2px;
    font-size: 1.75rem;
}

p {
  line-height: 1.8;
  color: hsl(217, 12%, 63%);margin-bottom: 1rem;
}

p.disclaimer {
  padding: 0 1.5rem;
  max-width: 400px;
  margin-bottom: 2rem;
  text-align: center;
}

.form-container p {
    color: #7D828D;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 1rem;
}



.form-container button{
    background-color: #FC7612;
    border: none;
    width: 100%;
    color: white;
    padding: 4%;
    border-radius: 55px;
    margin-top: 8%;
    letter-spacing: 3px;
    font-size: 1rem;
}

.btn-submit {
    background-color: hsl(25,97%,53%);
    color: #fff;
    width: 100%;
    padding: 0.8rem 0 0.6rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: #fff;
    color: hsl(25,97%,53%);
}

.btn:hover{
    transition: 200ms;
    background-color: #343d47;
}

.hidden {
    display: none;
}

.form-container .star-container{
    width: 50px;
    height: 50px;
    background-color: #252F37;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media (max-width:749px) {
    .form-container{
        width: 90%;
        padding-block: 7.5%;
    }
}


.attribution {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228,45%,44%);
}